*{
  margin: 0;
  font-family: 'Dela Gothic One', sans-serif;
  font-family: 'Space Grotesk', sans-serif;
  --main-bg-color: #131921;
}

.App{
  text-align: center;
}

.App h2{
  font-size: 2em;
  padding: 1.5em 0 0.5em 0;
}

.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
}